* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

.header {
    padding: 80px;
    text-align: center;
    background-color: whitesmoke;
    color: black;
}

.header h1 {
    font-size: 60px;
}

.navbar {
    overflow: hidden;
    background-color: darkgrey;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
}

.navbar a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

.navbar a:hover {
    background-color: grey;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    box-align: initial;
    color: black;
}

/* Column container */

.row {
    display: -ms-flexbox;
    /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap;
    /* IE10 */
    flex-wrap: wrap;
}

/* Create two unequal columns that sits next to each other */

/* Sidebar/left column */

.side {
    -ms-flex: 30%;
    /* IE10 */
    flex: 30%;
    background-color: #f1f1f1;
    padding: 20px;
    width: 400px;
}

/* Main column */

.main {
    -ms-flex: 70%;
    /* IE10 */
    flex: 70%;
    background-color: white;
    padding: 20px;
}

.footerInfo {
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    background: whitesmoke;
}

.foto {
    width: 300px;
    height: 300px;
}

.result {
    margin: 15px;
    padding: 20px;
    border: 1px solid #888;
    border-radius: 10px;
}

.result .title {
    font-weight: bold;
    color: black;
}